.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 17px;
}
.nav-connect{
    padding: 12px 15px;
    border-radius: 50px;
    background: linear-gradient(267deg, #cc0202 0.16%, #2d0b53 75.06%);
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.navbar img{
    width: 80px;
    height: 80px;
    border-radius: 100%;

  
}